.navbar-brand {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  color: $colour-accent !important;
}

.nav-link {
  font-size: 16px;
}

.active {
  background-color: white;
  border-radius: 15px;
}
